pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
.calva/
.clj-kondo/
.lsp/
/out/
.portal/
.shadow-cljs/
cljs-test-runner-out/
.cljs_node_repl/
.cursorignore
linux-install.sh
proxy_shim.py